sample:
  name:
  filetype: tiff
  files:
common_input_files:
    MARKERS: 
    TYPEMAP: 
    TYPE_MARKERS: 
    TYPEMAP_SIMPLE: 
    TYPEMAP_MARKERS_SIMPLE:
galaxy_url: https://galaxy.ohsu.edu/galaxy/
library_folder: OMSAtlas/raw_data
workflow: mcmicro_AxioScan_v0.3.0
workflow_params: ''
replacement_params:
  sample_name: '{sample.name}'
common_inputs:
  MARKERS:
  TYPEMAP:
  TYPE_MARKERS:
  TYPEMAP_SIMPLE:
  TYPEMAP_MARKERS_SIMPLE:
tags:
  - OHSU
  - Chin
  - HTAN
  - OMSAtlas
publish: False
