# HTAN Case
# TODO not used
#patient:
#  name: "HTA9_1"

# Input data for this workflow run.
sample: 
  name:
  filetype: 
  files:

  #lab: "OHSU-CHIN"
  #assay: "CycIF"

##### Common #######
# These options are likely to stay the same across all workflow runs.

# URL of the Galaxy server.
galaxy_url: "https://galaxy.ohsu.edu/galaxy/"

# Name of the Galaxy library to upload data to.
library_folder: "OMSAtlas/raw_data"

# Name of the workflow to run.
workflow: "mcmicro_v0.1.0"

# Workflow parameters.
workflow_params: ""

# Replacement params
replacement_params:
  # https://galaxyproject.org/learn/advanced-workflow/variables/
  sample_name: "{sample.name}"

# Defines workflow input values which are shared across all invocations.
common_inputs:
  MARKERS:           "OMSAtlas/common_inputs/{workflow}/{sample.name}_markers.txt"
  TYPEMAP:           "OMSAtlas/common_inputs/{workflow}/{sample.name}_typemap.txt"
